@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

/*font-family: 'Quicksand', sans-serif;*/

   /* 
   paletas de cores
   #003785
   #1465bb
   #00aeff
   #81c9fa
   #b9ffff 
   */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: black;
    text-decoration: none;

}
a:hover{
    color: #2196f3;
}
body {
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    
}


#nome {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2196f3;
    padding-left: 10px;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0, 0, 0, rgba(0, 0, 0, 0.5);
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.8rem;
    font-weight: bold;
    
    
}
#menu a {
    display: block;
    padding: .5rem;
    text-align: left;
}
#mobile {
    display: none;
}


/* main */

section {
    display: flex;
    

    
}
img {
    max-width: 100%;
    width: 250px;
    padding: 0rem;
    
    
}
#mask1 {
    
}